@font-face {
font-family: 'STXingkai308004';
src: url('STXingkai.eot');
src: url('STXingkai.eot?#iefix') format('embedded-opentype'),
     url('STXingkai.woff') format('woff'),
     url('STXingkai.ttf') format('truetype'),
     url('STXingkai.svg#STXingkai') format('svg');
    font-weight: normal;
    font-style: normal;
   }